################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Apriori/.vs/Apriori/v15/Browse.VC.opendb
/DecisionTree/.vs/DecisionTree/v16/Browse.VC.opendb
/Apriori/.vs/Apriori/v16/Browse.VC.opendb
